[submodule "simplesamlphp"]
	path = extlib/simplesamlphp
	url = git@github.com:simplesamlphp/simplesamlphp.git
[submodule "saml2"]
	path = extlib/saml2
	url = git@github.com:simplesamlphp/saml2.git
[submodule "xmlseclibs"]
    branch = 1.4
	path = extlib/xmlseclibs
	url = git@github.com:robrichards/xmlseclibs.git
