
language: php

sudo: false

cache:
  directories:
    - $HOME/.composer/cache

php:
 # - 5.4
 # - 5.5
 - 5.6
 # - 7.0

matrix:
 allow_failures:
  - php: 7.0

env:
 matrix:
  - DB=pgsql MOODLE_BRANCH=MOODLE_27_STABLE
  - DB=pgsql MOODLE_BRANCH=MOODLE_28_STABLE
  - DB=pgsql MOODLE_BRANCH=MOODLE_29_STABLE
  - DB=pgsql MOODLE_BRANCH=MOODLE_30_STABLE
  - DB=mysqli MOODLE_BRANCH=MOODLE_27_STABLE
  - DB=mysqli MOODLE_BRANCH=MOODLE_28_STABLE
  - DB=mysqli MOODLE_BRANCH=MOODLE_29_STABLE
  - DB=mysqli MOODLE_BRANCH=MOODLE_30_STABLE

before_install:
  - cd ../..
  - composer selfupdate
  - composer create-project -n --no-dev moodlerooms/moodle-plugin-ci ci ^1
  - export PATH="$(cd ci/bin; pwd):$(cd ci/vendor/bin; pwd):$PATH"

install:
  - moodle-plugin-ci install

script:
  - moodle-plugin-ci phplint
  - moodle-plugin-ci phpcpd
  - moodle-plugin-ci phpmd
  - moodle-plugin-ci codechecker
# No CSS
#  - moodle-plugin-ci csslint
  - moodle-plugin-ci shifter
# No JS
#  - moodle-plugin-ci jshint
# No tests yet
#  - moodle-plugin-ci phpunit
#  - moodle-plugin-ci behat

